In [85]:
def TakeNClean(rootOfFrame):
    import numpy as np
    import scipy
    import matplotlib
    import pandas as pd

    df = pd.read_excel(rootOfFrame)

    df = df.rename(columns=df.iloc[0]) #перетаскиваем первую строку в хедер столбцов
    df = df.set_index('Date') #перетаскиваем первый столбец в хедер строк

    del df['PX_OPEN'] #нам нужна только колонка цен закрытия, так что остальное удаляем
    del df['PX_HIGH']
    del df['PX_LOW']

    df = df.drop(['Date']) #удаляем первую строку продублированную в хедере
    return (df)

In [86]:
TakeNClean('C:/Users/shiny/Downloads/kovcheg-20180717T090041Z-001/kovcheg/Bloomberg data/audusd data.xlsx')

           PX_LAST
Date
2015-10-22  0.7219
2015-10-21  0.7227
2015-10-20  0.7261
2015-10-19  0.7258
2015-10-16  0.7264
2015-10-15  0.7333
2015-10-14  0.7265
2015-10-13  0.7278
2015-10-12  0.7375
2015-10-09  0.7336
2015-10-08  0.7229
2015-10-07  0.7209
2015-10-06  0.7153
2015-10-05  0.7082
2015-10-02  0.7045
2015-10-01  0.7028
2015-09-30  0.7014
2015-09-29  0.6988
2015-09-28  0.6999
2015-09-25  0.7024
2015-09-24  0.7005
2015-09-23  0.7012
2015-09-22  0.7076
2015-09-21  0.7127
2015-09-18  0.7189
2015-09-17  0.7147
2015-09-16  0.7186
2015-09-15  0.7106
2015-09-14   0.714
2015-09-11  0.7092
...            ...
1995-02-14  0.7445
1995-02-13  0.7448
1995-02-10  0.7443
1995-02-09  0.7444
1995-02-08  0.7445
1995-02-07  0.7467
1995-02-06  0.7511
1995-02-03  0.7517
1995-02-02  0.7587
1995-02-01  0.7593
1995-01-31  0.7572
1995-01-30  0.7594
1995-01-27  0.7593
1995-01-26  0.7655
1995-01-25  0.7653
1995-01-24  0.7706
1995-01-23  0.7678
1995-01-20  0.7694
1995-01-19  0.7655
1995-01-18  0.7605
1995-01-17  0.7585
1995-01-16  0.7586
1995-01-13  0.7575
1995-01-12  0.7672
1995-01-11  0.7703
1995-01-10  0.7673
1995-01-09  0.7628
1995-01-06  0.7649
1995-01-05  0.7681
1995-01-04  0.7694

[5427 rows x 1 columns]