In [1]:
#Заполнение таблиц

In [10]:
import pandas as pd
df_ = pd.DataFrame(index = [0, 1, 2, 3], columns = [0, 1, 2, 3] ) #создание пустой ковариационной матрицы n x n
df_ = df_.fillna(0.0)

In [11]:
df_

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [6]:
df_.loc[1][2]= 5

In [13]:
for i in range(4):
    for j in range(4 - i):
        df_.loc[i][j + i] = i*(j+i)

In [14]:
df_

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  1.0  2.0  3.0
2  0.0  0.0  4.0  6.0
3  0.0  0.0  0.0  9.0

In [2]:
a = [1, 2, 2, 4]
a.index(2)

1

In [3]:
del a[0]